<head>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="">
    <div class="cover-container d-flex w-100 mx-auto flex-column">
        <main class="px-3">
            <h1>Welcome to YelpCamp! </h1>
            <p class="lead"> <br> Jump right in and explore our many campgrounds. <br> Feel free to share some of your own and comment on others!</p>
            <a class="btn btn-light">Explore Campgrounds!</a>
        </main>
    </div>
</body>